* {
  padding: 0;
  margin: 0;
}


.bigVid{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

button{
  width: 9vw;
  height: 5vh;
  border-radius: 1vw;

  background-color: #4caf50; /* Green */
  border: none;

  color: #fff;
  text-align: center;
  font-size: 1.1vw;

  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover{
  background-color: #439b47;
}

#newBtn{
  position: absolute;
  top: 5vh;
  left: 1vw;
}

#startBtn{
  position: absolute;
  top: 13vh;
  left: 1vw;
}

#closeBtn{
  position: absolute;
  top: 21vh;
  left: 1vw;
}

#speachBtn{
  position: absolute;
  top: 29vh;
  left: 1vw;
}

#statusBlock{
  position: absolute;
  height: auto;
  width: 15vw;
  top: 5vh;
  left: 83vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vh;

  border-style: solid;
  border-width: 0.1vw;
  border-color: rgb(176, 176, 176);
  border-radius: 1.2vw;

  background-color: rgba(0,0,0,0.3);
  color: white;

  padding: 0.5vw;
}

input{
  width: 15vw;
}

#statusBlock button{
  width: auto;
  height: auto;
  color: black;
  background-color: white;
  border-radius: 0;
  padding: 0.5vh;
  border-style: solid;
  border-color: black;
  border-width: 0.1vh;
  font-size: 0.8em;
}

#qrBlock{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2vh;
  text-align: center;
  gap: 2vh;

  width: 30vw;
  height: 60vh;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 0.1vh;
}

#qrBlock h1{
  font-size: 1.6em;
}