* {
    padding: 0;
    margin: 0;
    font-family: "Inter";
    font-size: 1vw;
    font-weight: 400;
  }

body{
    overflow-x: hidden;
}


button{
    width: 9vw;
    height: 5vh;
    border-radius: 1vw;

    background-color: #4caf50; /* Green */
    border: none;

    color: #fff;
    text-align: center;
    font-size: 1.1vw;

    cursor: pointer;
    transition-duration: 0.1s;
  }

  button:hover{
    background-color: #439b47;
  }

.bigVid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#startup{
    width: 100vw;
    height: 100vh;
    background-color: white;
    font-family:"Open Sans";
  }

#startBody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#startBody img{
    width: 55vw;
    height: 90vh;
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%); /*crops the image*/
}

  #startText{
    padding-top: 25vh;
    padding-left: 2vw;
    margin-left: 2vw;

    display: flex;
    flex-direction: column;
    gap:2vh;

    height: auto;
    width: auto;
  }

  #startBody h1{
    font-size: 3.5em;
    padding: 0;
    color: black;
  }

  #startBody p{
    font-size: 1.5em;
    color: black;
    margin-bottom: 2vh;
  }

  #newBtn{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    padding: 1.5vh;
    width: 13vw;
    height: 7vh;
    font-size: 1.2em;
    border-style: none;
  }

  @keyframes e-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  #loader{
    display: none;
    width: 1vw;
    height: 1vw;
    border: 0.2vw solid #ffffff;
    border-top: 0.16vw solid #4caf50;
    border-radius: 50%;
    animation: e-spin 0.5s linear both infinite;
  }

  #startBtn{
    display: none;
  }

  #main{
    display: initial;
  }

  #closeBtn{
    display: none;
    position: absolute;
    top: 21vh;
    left: 1vw;
  }

  #statusBlock{
    position: absolute;
    height: 10vh;
    width: 100%;
    top: 90vh;
    left: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2.5vw;

    background-color: rgb(38, 38, 38, 0.5);
    color: white;
  }

  select{
    font-size: 1.1em;
    margin-left: 1vw;
  }

  #taskInput{
    width: 79vw;
    height: 5vh;
    border-radius: 2vw;
    border-style: hidden;
    padding-left: 1vw;
    font-size: 1.1em;
  }

  ::placeholder{
    color: black;
    opacity: 0.3;
  }

  #status{
    position: absolute;
    right: 2vw;
    top: 2vh;
  }

  #buttonSwitch button{
    width: 6vw;
    background-color: white;
    color: black;
    height: 5vh;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.1s;
  }

  #speachBtn:hover, #talkBtn:hover{
    background-color: #ddffdd;
    width: 6.1vw;
  }

  #talkBtn{
    display: none;
  }

  #endSpeech{
    display: none;
  }

  #endSpeech:hover{
    background-color: #ffdcdc;
    width: 6.1vw;
  }

/*header css*/

header{
    background-color: black;
    height: 8vh;
    width: 94%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 3vw 2vh 3vw;
}

header p{
    font-size: 2em;
}

#changepage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#subs{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: white;
    font-size: 2em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h1{
    font-size: 2em;
    padding-left: 3vw;
    padding-top: 4vh;
    font-weight: bold;
}
